# Python virtual environment folder
venv/

# Python cache
__pycache__/

#
*.log

# OS-specific files (macOS)
.DS_Store

# Editor-specific files
.vscode/
.idea/

# JSON
*.json

op_rag_venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# .egg_info directories
*.egg-info/

# txt files
*.txt